@import url("./variables.css");

:root{
    font-size: var(--Font-Size-Root);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: 0;
    line-height: 0;
    color: var(--Dark-Gray);
    scroll-behavior: smooth;
    transition: var(--Transition);
}

    html{
        width: var(--Width-Relative-Max);
        height: var(--Height-Absolute-Max);
    }

        body{
            width: var(--Width-Relative-Max);
            height: var(--Height-Relative-Max);
        }

/* 
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.App{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */

/* .zebrada:nth-child(odd) {
    background-color: #a7a7a7;
}
.zebrada:nth-child(even) {
    background-color: #5e5e5e;
}

.BoxShadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.BoxShadowHover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.TextShadow {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.TextShadow:hover {
    text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

/* @font-face {
    font-family: 'Press Start 2P Regular';
    src: local('PressStart2P-Regular'), url(./assets/fonts/PressStart2P/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Space Mono Bold';
    src: local('SpaceMono-Bold'), url(./assets/fonts/SpaceMono/SpaceMono-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Space Mono Bold Italic';
    src: local('SpaceMono-BoldItalic'), url(./assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Space Mono Italic';
    src: local('SpaceMono-Italic'), url(./assets/fonts/SpaceMono/SpaceMono-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Space Mono Regular';
    src: local('SpaceMono-Regular'), url(./assets/fonts/SpaceMono/SpaceMono-Regular.ttf) format('truetype');
} */